/*here this css for both the contact and the login page, so do things carefully*/
#contact {
  background-size: cover;
  background-position: center center;
}
#contact {
  position: relative;
}
#contact .container{
   padding: 150px 0 200px;
}
@media (max-width: 1024px) {
  #contact .container{
    padding: 100px 0;
  }
}
#contact .block {
  text-align: center;
  position: relative;
  z-index: 10;
  padding: 0px 10px;
    line-height: 20px;
    margin: 0 auto;
    overflow: hidden;
}
@media (max-width: 767px) {
  #contact .block{
    width: 100%;
  }
  #contact{
    padding: 100px 0 75px;
  }
}

.wrap-contact100 {
  width: 40%;
  float: right;
  background: #fff;
  border-radius: 12px;
  position: relative;
  margin-top: 55px;
  padding: 30px;

  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

/*==================================================================
[ Form ]*/

.contact100-form {
  width: 100%;
}



/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  background-color: #fff;
  border-radius: 2px;
  margin-bottom: 30px;
}

.wrap-input100.rs1 {
  width: 100%;
}

/*---------------------------------------------*/
.input100 {
  display: block;
  background: transparent;
  font-family: OpenSans-Regular;
  color: #333333;
  line-height: 1.2;
  width: 100%;
}

input.input100 {
  height: 40px;
  padding: 0 20px 0 25px;
  font-size: 20px;
  text-align: left;
    font-family: Segoe UI;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    color: rgba(72,68,68,1);
    border-color: rgba(185,185,185,1);
    border-radius: 5px;
}

textarea.input100 {
  min-height: 150px;
  padding: 25px 20px 15px 25px;
  font-size: 15px;
  border-radius: 5px;
}

/*------------------------------------------------------------------
[ Focus Input ]*/

.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height:100%;
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid #ff4b5a;
  border-radius: 2px;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  -webkit-transform: scaleX(1.1) scaleY(1.3);
  -moz-transform: scaleX(1.1) scaleY(1.3);
  -ms-transform: scaleX(1.1) scaleY(1.3);
  -o-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3);
}

.input100:focus + .focus-input100 {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.eff-focus-selection {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}


/*------------------------------------------------------------------
[ Button ]*/
.container-contact100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -10px;
}

.contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 100%;
  height: 50px;
  background-color: #ff180d;
  border-radius: 23px;

  font-family: Segoe UI;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn:hover {
  background-color: rgba(245,180,0,1);
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 992px) {
  .wrap-contact100{
    width: 100%;
  }
}
@media (max-width: 768px) {
  #contact .container{
    padding: 0px;
  }
  .wrap-input100.rs1 {
    width: 100%;
  }
}
